<footer class="absolute bottom-0 py-4">
    <nav>
        <ul class="hidden sm:flex gap-x-4 [&>li>a]:text-slate-600 [&>li>a]:text-xs [&>li>a]:font-medium">
            <li><a href="#">Tesla © 2023</a></li>
            <li><a href="#">Privacidad y legal</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Noticias</a></li>
            <li><a href="#">Seguir informada</a></li>
            <li><a href="#">Localización de tiendas</a></li>
        </ul>
    </nav>
</footer>
