<section
    class="landing-section h-screen w-screen bg-black text-center relative overflow-hidden text-white"
    data-header-color="white"
>
    <div class="z-30 relative h-full flex flex-col">
        <header class="flex flex-col">
            <h2 class="text-5xl pt-40 font-medium mb-3">Disfrute de Tesla</h2>
            <p class="text-xs">Programe una prueba de conducción hoy mismo</p>
        </header>

        <footer class="flex flex-col flex-grow justify-end pb-20 items-center">
            <a
                class="border-2 border-white rounded bg-white/5 backdrop-blur-sm text-sm font-medium inline-block py-1 px-12 hover:bg-white hover:text-black transition-colors"
                href="#"
            >
                Prueba de conducción
            </a>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 z-10 w-full">
        <video
            class="object-center object-cover h-full w-full"
            autoplay
            muted
            loop
            src="/video.webm"></video>
    </div>
</section>
