<section
    class="landing-section h-screen w-screen bg-black text-center relative overflow-hidden text-black"
    data-header-color="black"
>
    <div class="z-30 relative h-full flex flex-col">
        <header class="flex flex-col">
            <h2 class="text-5xl pt-40 font-medium mb-3">Model Y</h2>
            <p class="text-xs underline">Concertar una prueba de conducción</p>
        </header>

        <footer class="flex flex-col flex-grow justify-end pb-20 items-center">
            <div class="flex gap-x-6">
                <a
                    class="rounded bg-gray-600 text-white text-sm font-medium inline-block py-1 px-12 hover:bg-white hover:text-black transition-colors"
                    href="#"
                >
                    Explorar inventario
                </a>
                <a
                    class="border-2 border-white rounded bg-white/5 backdrop-blur-sm text-sm font-medium inline-block py-1 px-12 hover:bg-white hover:text-black transition-colors"
                    href="#"
                >
                    Pedido personalizado
                </a>
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 z-10 w-full">
        <img
            src="/model-y.avif"
            alt="Model Y"
            class="object-center object-cover h-full w-full"
        />
    </div>
</section>
